basicConstraints=CA:FALSE
subjectAltName=DNS:science-assistant,DNS:science-assistant-vvz,DNS:localhost,IP:127.0.0.1,IP:172.18.0.1
extendedKeyUsage=serverAuth
keyUsage=digitalSignature,keyEncipherment
